<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>magnesium</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"></link>
</head>

<body>
  <div id="app"></div>
</body>

</html>
