
.ui.inverted.segment

  img(src='images/magnesium.png' alt='control')

  .ui.relaxed.divided.list
    .item
      i.stop.icon
      .content
        | stops the currently playing track
    .item
      i.step.forward.icon
      .content
        | plays the next track, resumes if stopped
    .item
      i.backward.icon
      .content
        | skip back 15 seconds
    .item
      i.forward.icon
      .content
        | skip forward 15 seconds
    .item
      i.remove.icon
      .content
        | removes the currently playing track from your library
    .item
      i.list.icon
      .content
        | shows the library window
    .item
      i.film.icon
      .content
        | shows the video player window
    .item
      i.desktop.icon
      .content
        | shows the video player fullscreen, press q/f/x/space to exit fullscreen
    .item
      i.share.icon
      .content
        | copies the currently playing tracks youtube link to the system clipboard
    .item
      i.help.icon
      .content
        | loads this page in the system browser
    .item
      i.sign-out.icon
      .content
        | quit magnesium
    .item
      i.hand.point.down.outline.icon
      .content
        | across the bottom is the progress bar, click to seek to a point in the track
