
doctype html
head
  meta(charset='utf-8')
  title magnesium

  link(rel='shortcut icon' type='image/png' href='icons/icon.png')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js')


body(style="background-color:#444")
  .ui.container
    .ui.basic.segment
      .ui.inverted.segment
        .ui.one.column.stackable.center.aligned.page.grid
          .ui.row
            .ui.small.image
              a(href='https://robblue2x.gitlab.io/magnesium/')
                img(src="icons/icon.svg")
          .ui.row
            h1 magnesium #{version}

          .ui.row
            .ui.bulleted.list
              .item a streaming music player that plays content from youtube
              .item your music library is a list of songs
              .item alternative to spotify/google music/amazon music
              .item easy to edit your libraries/playlists
              .item open source on
                a(href='https://gitlab.com/robblue2x/magnesium')  GitLab

        .ui.inverted.secondary.pointing.menu
          a.item.active(data-tab='install') Installing
          a.item(data-tab='control') Control Window
          a.item(data-tab='library') Library Window
          a.item(data-tab='remote') Remote Control
          a.item(data-tab='proxy') Proxy Configuration

        .ui.tab.inverted.segment.active(data-tab='install')
          include install.pug
        .ui.tab.inverted.segment(data-tab='control')
          include control.pug
        .ui.tab.inverted.segment(data-tab='library')
          include library.pug
        .ui.tab.inverted.segment(data-tab='remote')
          include remote.pug
        .ui.tab.inverted.segment(data-tab='proxy')
          include proxy.pug

script.
  $('.menu .item').tab();
