
.ui.inverted.basic.segment
  .ui.inverted.header windows installer
  .ui.ordered.inverted.list
    .item
      a(href='https://gitlab.com/robblue2x/magnesium/-/jobs/artifacts/' + version + '/browse?job=package-win-nsis') click here to open download page
    .item click magnesium Setup #{version}.exe
    .item click download
    .item run installer

.ui.inverted.basic.segment
  .ui.inverted.header linux snap
  .ui.list
    .item install in a terminal:
      .ui.ordered.inverted.list
        .item open your terminal program
        .item
          div
            code sudo snap install magnesium
    .item OR use your software center:
      .ui.ordered.inverted.list
        .item open your software center
        .item search for magnesium
        .item click install
    .item OR manually install snap
      .ui.ordered.inverted.list
        .item
          a(href='https://gitlab.com/robblue2x/magnesium/-/jobs/artifacts/' + version + '/browse?job=package-linux-snap') click here to open download page
        .item click magnesium_#{version}_amd64.snap
        .item click download
        .item
          a(href="https://docs.snapcraft.io/reference/snap-command#install") see snap documentation for how to install local snap

.ui.divider

.ui.inverted.basic.segment
  .ui.inverted.header archives / no-install

.ui.inverted.basic.segment
  .ui.inverted.header windows
  .ui.ordered.inverted.list
      .item
        a(href='https://gitlab.com/robblue2x/magnesium/-/jobs/artifacts/' + version + '/browse?job=package-win-zip') click here to open download page
      .item click magnesium-#{version}-win.zip
      .item click download
      .item extract archive
      .item run magnesium.exe

.ui.inverted.basic.segment
  .ui.inverted.header linux
  .ui.ordered.inverted.list
    .item
      a(href='https://gitlab.com/robblue2x/magnesium/-/jobs/artifacts/' + version + '/browse?job=package-linux-targz') click here to open download page
    .item click magnesium-#{version}.tar.gz
    .item click download
    .item extract archive
    .item open magnesium-#{version}
    .item run ./magnesium or double click magnesium

.ui.inverted.basic.segment
  .ui.inverted.header mac
  .ui.ordered.inverted.list
    .item
      a(href='https://gitlab.com/robblue2x/magnesium/-/jobs/artifacts/' + version + '/browse?job=package-mac-targz') click here to open download page
    .item click magnesium-#{version}-mac.tar.gz
    .item click download
    .item extract archive
    .item open magnesium-#{version}
    .item run magnesium.app
