
.ui.inverted.header selecting a library
.ui.inverted.basic.segment
  img(src='images/library.png' alt='library')
  .ui.ordered.inverted.list
    .item click the colour to select a library
    .item only tracks in this library will be played
    .item tracks will be added to this library

.ui.divider
.ui.inverted.header adding a track
.ui.inverted.basic.segment
  img(src='images/library.png' alt='library')
  .ui.ordered.inverted.list
    .item click the library button to open the library
    .item type &quot;rebecca black - friday&quot; in the box and hit enter

.ui.divider
.ui.inverted.header removing a track
.ui.inverted.basic.segment
  img(src='images/add.png' alt='add')
  .ui.ordered.inverted.list
    .item click the library button to open the library
    .item type &quot;rebecca black&quot; in the box to filter the list
    .item click the remove icon beside the track you want to remove

.ui.divider
.ui.inverted.header adding a playlist
.ui.inverted.basic.segment
  img(src='images/playlist.png' alt='playlist')
  .ui.ordered.inverted.list
    .item
      a(href='https://www.youtube.com/') visit youtube.com
    .item search for a playlist
    .item
      | copy the url of a playlist e.g.
      a(href='https://www.youtube.com/playlist?list=PL7A4D9C100657150E') https://www.youtube.com/playlist?list=PL7A4D9C100657150E
    .item click the library button to open the library
    .item paste the url into the box and press enter
    .item magnesium will add each track from the playlist

.ui.divider
.ui.inverted.header playing specific track
.ui.inverted.basic.segment
  img(src='images/play.png' alt='play')
  .ui.ordered.inverted.list
    .item click the library button to open the library
    .item type in the box to filter the results
    .item click the play icon beside the track to play it
