
.ui.inverted.basic.segment
  p proxy can be set using the environment variable
    code PROXY

  .ui.inverted.header http proxy:
  div
    code PROXY=&quot;myproxy.com&quot;
  .ui.inverted.header http proxy on port 8080:
  div
    code PROXY=&quot;myproxy.com:8080&quot;
  .ui.inverted.header socks5 proxy on port 8888:
  div
    code PROXY=&quot;socks5://127.0.0.1:8888&quot;

  .ui.divider

  p
  | google seems to block most public proxies for &apos;suspicious&apos; traffic so free public ones normally don't work
