
.ui.inverted.basic.segment
  p remote port can be changed using the environment variable
    code REMOTE_PORT

  .ui.inverted.header next
  div
    code curl -X PUT 127.0.0.1:24305/api/1/next

  .ui.inverted.header stop
  div
    code curl -X PUT 127.0.0.1:24305/api/1/stop

  .ui.inverted.header playing
  div
    code curl 127.0.0.1:24305/api/1/playing
  div
    code {&quot;playing&quot;:&quot;ac/dc - back in black &quot;}

  .ui.inverted.header progress
  div
    code curl 127.0.0.1:24305/api/1/progress
  div
    code {&quot;progress&quot;:20.42804885237012}
